.vscode/
.venv/
.idea/
*.o
*.hex
*.elf
build/
__pycache__/
# KiCad backups and temporary files
*.bak
*.pro-bak
*.kicad_sch-bak
*.kicad_pcb-bak
*-backup/
*-backups/
fp-info-cache
*.cache
*.drl
*.gbr
*.gtl
*.gbl
*.gts
*.gbs
*.gko
*.gto
*.gbo
*.gml
*.cmp
*.sol
*.plc
